<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyOLRibbon.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyOLRibbon.MySettings.TimeOffRequestsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ASmedley\OneDrive - Traffic &amp; Lighting Systems, LLC\Documents\Databases\TimeOffRequests.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MyOLRibbon.MySettings>
            <setting name="LocateLandingPath" serializeAs="String">
                <value>\\TLS-FILE\TUL TLS Data\Locates\OpenLocates\Current\Complete\</value>
            </setting>
            <setting name="TaskOrderPath" serializeAs="String">
                <value>\\TLS-FILE\TUL TLS Data\Job Folders\Small Jobs\TLS\Transcore Task Orders\</value>
            </setting>
            <setting name="TLSJobPath" serializeAs="String">
                <value>\\TLS-FILE\TUL TLS Data\Job Folders\Small Jobs\TLS\</value>
            </setting>
            <setting name="STIJobPath" serializeAs="String">
                <value>\\TLS-FILE\TUL TLS Data\Job Folders\Small Jobs\STI\</value>
            </setting>
        </MyOLRibbon.MySettings>
    </userSettings>
</configuration>
